@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?q4rsm7');
  src:  url('../fonts/icomoon.eot?q4rsm7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?q4rsm7') format('truetype'),
    url('../fonts/icomoon.woff?q4rsm7') format('woff'),
    url('../fonts/icomoon.svg?q4rsm7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.down-arrow::after{
  content: "\e903";
  font-family: 'icomoon';
  margin-left: 5px;
  font-size: 15px;
}
.w{
  width: 1200px;
  margin: 0 auto;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.font-red{
  color: #c81623;
}
.shortcut{
	height: 31px;
	background-color: #f1f1f1;
  font-size: 12px;
  color: #666;
  line-height: 31px;
}
.cur-nav ul li{
  float: left;
}
.cur-nav ul li:nth-child(2n){
  height: 12px;
  width: 1px;
  background-color: #666;
  margin: 9px 15px 0 15px;
}
.cur-nav ul li a{
  line-height: 31px;
}


