@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5ctax9');
  src:  url('../fonts/icomoon.eot?5ctax9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5ctax9') format('truetype'),
    url('../fonts/icomoon.woff?5ctax9') format('woff'),
    url('../fonts/icomoon.svg?5ctax9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.down-arrow::after{
  content: "\e903";
  font-family: 'icomoon';
  margin-left: 5px;
  /* font-size: 12px; */
}
.w{
  width: 1200px;
  margin: 0 auto;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.font-red{
  color: #c81623;
}
/* 头部导航 */
.shortcut{
	height: 31px;
	background-color: #f1f1f1;
  font-size: 12px;
  color: #666;
  line-height: 31px;
}
.cur-nav ul li{
  float: left;
  line-height: 31px;
}
.cur-nav ul li:nth-child(2n){
  height: 12px;
  width: 1px;
  background-color: #666;
  margin: 9px 15px 0 15px;
}
.cur-nav ul li a{
  line-height: 31px;
}
/* head start */
.header{
  position: relative;
  height: 105px;
  background-color: pink;
}
.header .logo{
  width: 171px;
  height: 61px;
  float: left;
  margin-top: 26px;
}
.header .logo a{
  display: block;
   width: 171px;
  height: 61px;
  background: url(../images/logo.png);
  font-size: 0;
}
.header .search{
  position: absolute;
  left: 50%;
  margin-left: calc(-538px/2);
  top: 25px;
  width: 538px;
  height: 36px;
  border: 2px solid #b1191a;
}
.header .search input{
  float: left;
  width: 454px;
  height: 32px;
  padding-left: 12px;
  font-size: 14px;
  color: #666;
}
.header .search button{
  float: left;
  width: 80px;
  height: 32px;
  background-color: #b1191a;
  color: #fff;
  font-size: 16px;
}
.header .sub-search{
  position: absolute;
  left: 50%;
  margin-left: calc(-538px/2);
  top: calc(25px + 36px + 8px);
  width: 538px;
  height: 12px;
  /* background: goldenrod; */
}
.header .sub-search ul li{
  color: #666;
  float: left;
}
.header .sub-search ul li a{
  margin: 0 10px;
  font-size: 12px;
  line-height: 12px;
}
.header .shopping-cart{
  position: absolute;
  top: 25px;
  right: 58px;
  width: 140px;
  height: 36px;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
}
.header .shopping-cart p{
  font-size: 12px;
  color: #666;
  text-align: center;
  line-height: 36px;
}
.header .shopping-cart p::before{
  content: "\e93a";
  font-family: 'icomoon';
  margin-right: 7px;
  color: #d84a4a;
}
.header .shopping-cart p::after {
  content: ">";
  font-family: 'icomoon';
  margin-right: 7px;
  font-size: 12px;
  color: #999999;
}
.header .shopping-cart span{
  position: absolute;
  left: 105px;
  top: -4px;
  height: 14px;
  background-color: #e60012;
  line-height: 14px;
  padding: 0 5px;
  color: #fff;
  border-radius: 7px 7px 7px 0;
}
/* 商品分类 */
.classify {
  height: 45px;
  border-bottom: 2px solid #b1191a;
}
.classify .subClassify{
  float: left;
  width: 209px;
	height: 45px;
	background-color: #b1191a;
}
.classify .subClassify .dt{
  font-size: 16px;
	color: #ffffff;
  text-align: center;
  line-height: 45px;
}
.classify .subClassify .dd{
  display: block;
}
.classify .subClassify .dd ul{
  background-color: #c81623;
}
.classify .subClassify .dd ul li{
  position: relative;
  margin-left: 2px;
  padding-left: 10px;
  height: 31px;
	font-size: 14px;
	line-height: 31px;
  color: #fff;
}
.classify .subClassify .dd ul li:hover{
  background-color: #fff;
}
.classify .subClassify .dd ul li:hover a,li::after{
  color: #c81623;
}
.classify .subClassify .dd ul li a{
  color: #fff;
}
.classify .subClassify .dd ul li::after{
  font-family: 'icomoon';
  content: "\e900";
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 5px;
  color: #fff;
}

.classify .subNav{
  float: left;
	font-size: 16px;
	color: #333333;
  text-align: center;
  line-height: 45px;
}
.classify .subNav ul li{
  float: left;
}
.classify .subNav ul li a{
  padding: 0 20px;
}

